config tinc-net ffulm
   option enabled 1

   option generate_keys 1
   option key_size 2048
   option log /tmp/log/tinc.ffulm.log
   option debug 3

   list ConnectTo drugtestbots

   option DirectOnly 0
   option Forwarding internal
   option GraphDumpFile /tmp/log/tinc.ffulm.dot
   option Hostnames 0
   option Interface tinc
   option KeyExpire 3600
   option MACExpire 600
   option Mode switch

   option Name HOSTNAME_REPLACED_DURING_NEXT_BOOT

   option PingInterval 60
   option PingTimeout 5
   option PriorityInheritance 0
   option PrivateKeyFile /etc/tinc/ffulm/rsa_key.priv
   option ProcessPriority normal
   option ReplayWindow 16
   option StrictSubnets 1
   option TunnelServer 0

config tinc-host HOSTNAME_REPLACED_DURING_NEXT_BOOT
   option enabled 1
   option net ffulm
   option Cipher blowfish
   option ClampMSS yes
   option Compression 1
   option Digest sha1
   option IndirectData 0
   option MACLength 4
   option PMTU 1514
   option PMTUDiscovery yes
   option Port 655

# this is the POP for the IPv6 addresses and the IPv4 tunnel to Sweden
config tinc-host drugtestbots
   option enabled 1
   option net ffulm
   list Address 91.216.93.44
